    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    
    .header {
        margin: 0;
        padding: .5em 2em;
        align-items: center;
        font-size: 6em;
        background-color: rgba(132,14,2,.4);
        color: rgba(28,28,66,1);
        letter-spacing: .1em;
    }

    .all {
        display: flex;
        flex-direction: row;
    }

    .side {
        background-image: url("./assets/side-001.jpg");
        height: 100vh;
        width: 20vw;
        background-size: 20vw 20vw; 
        background-position-x: 2.5vw;
    }

    .page {
        background-image: url("./assets/body-002.jpg");
        height: 100vh;
        width: 80vw;
        background-size: 20vw 20vw; 
    }
